@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    font-family: 'Quicksand', sans-serif;
}

#btn-menu{
    font-size: 1rem;
}

.publicista{
    overflow: hidden;
}

.publicista .card-image{
    position: relative;
    min-height: 230px;
    max-height: 230px;
}

.publicista figure{
    margin: 0;
}

.publicista img{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.publicista:hover img{
    transform: scale(1.1);
}

.publicista .content-data{
    width: 100%;
    bottom: 0;
    color: #000;
    background: #FFEAFF;
}

.perfil .publicista .content-data,.Editperfil .publicista .content-data{
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    background: #D6D6D6;
    opacity: .8;
    display: none !important;
}

.perfil .publicista{
    cursor: pointer;
}

.perfil .publicista:hover .content-data,.Editperfil .publicista:hover .content-data{
    display: block !important;
}

.Editperfil .publicista .cargarImagen{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.Editperfil img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.barroka-bg{
    background: #FFE1B9;
}

.barroka-pink-bg{
    background: #FFEAFF;
}

#data-location ul{
    list-style: none;
    font-size: .8em;
}

.card-auth{
    width: 96%;
    max-width: 350px;
}

.owl-nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.owl-nav button{
    transform: scale(5);
    width: 20px;
    height: 20px;
    text-align: center;
}

.owl-nav button:active{
    outline: none;
    border: none;
    box-shadow: none;
}

.saludo{
    font-size: .9em;
}

@media screen and (min-width:769px){
    
    
.lightbox{
    position: fixed;
    z-index: 200;
    width: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: rgba(248,248,248,.9);
    min-height: 100vh;
    margin: auto;
    display: none !important;
}


.lightbox.open{
     -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    display: flex !important;
    transform: scale(.5);
    opacity: .2;
    animation-name: scaleLightbox;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes scaleLightbox{
    from{
            transform: scale(.5);
            opacity: .2;
    }
    to{
            opacity: 1;
            transform: scale(1);
    }
}

.lightbox .close{
    font-size: 60px;
    position: absolute !important;
    right: 150px;
    top: 20px;
}

    
    #slider{
        display: none;
    }
    
    .navbar .nav-item a.nav-link{
        position: relative;
    }

   .navbar .nav-item a.nav-link::before{
       content: '';
        position: absolute;
       bottom: 0;
       left: 0;
       height: 6%;
       width: 0%;
       display: block;
       background:#FFE1B9;
       -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
       transition:all .3s ease ;
    }
    
    .navbar .nav-item a.nav-link:hover::before{
        width: 100%;
    }
}


@media screen and (max-width:768px){
    .perfil .publicista{
        display: none;
    }
    
    .lightbox{
        display: none !important;
    }
    
    #form-search{
        width: 100%;
        margin: auto !important;
        padding: 0px 17px;
        margin-bottom: 8px !important;
    }
    
    #form-search button{
        width: 100%;
    }
}

    .owl-item{
        position: relative;
        height: 15em;
    }
    
    .owl-item img{
        position: absolute;
        height: 100%;
    }

    .fa-star.checked{
    color: #FFE623;
}

.rating{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.saludo textarea{
    max-height: 200px;
    min-height: 150px;
}

.btn.social{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #efefef;
    font-size: 19px;
    color: #000;
}

.btn.social:hover{
    border: 1px solid #242424;
}